@{
    ViewBag.Title = "За нас";
}
<h2 style="color: white">@ViewBag.Title</h2>
<h3 style="color: white">@ViewBag.Message</h3>

<p style="color: white">
    Събрах 267,55лв и вчера поръчах скенер за 205,10лв.
    Моделът е IRIScan Book5 wifi. Надявам се още другата седмица да мога да кача първата сканирана книжка.
</p>

<p style="color: white">
    Остатъка от сумата 62,45лв ще бъде инвестирана в годишен абонамент за национална библиотека (25лв) и в закупуване на стари книги, за които ще ви дам подробен отчет.
</p>

<p style="color: white">
    Събраните дарения до момента са получени на сметката ми или лично предавани, касичката от Хъба още не е отворена. Продължавам да събирам дарения за книги, за да може скоро да бъде и истинска физическа библиотека.
</p>

<p style="color: white">
    Благодаря на дарителите и на доброволците, които се включиха с въремето си. Съвсем скоро ще бъде обновен албумът с екранизирани книги и този с детските книжки.
</p>

<p style="color: white">
    Търся преводачи, редактори, илюстратори и ентусиасти. Пишете, ако споделяме обща кауза и искате да се включите! Още венъж благодаря! Подкрепата ви, под каквато и да е форма, е изключително ценна. Заедно пишем историята!
</p>
