@{
    ViewBag.Title = "За контакти";
}
<h2 style="color: white">@ViewBag.Title</h2>
<h3 style="color: white">@ViewBag.Message</h3>

<address>
    ... ..... ..... <br />
    София, ... ... .. ..<br />
    <abbr title="Phone">Тел.:</abbr>
    000.000.0000
</address>

<address>
    <strong>Подръжка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>