@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ЛГБТИ+ библиотека</h1>
    <p class="lead">Здравейте, книгомани!</p>
    <h3>Добре дошли в шарената ни библиотека! </h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: white">За групата ни във Facebook</h2>
        <p style="color: white">
            В групата се обсъжда и споделя информация свързана САМО с книгите. НЕ е поредната група за запознанства и свалки. Всички странични постове ще бъдат изтривани.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/gay.biblioteka/about/">Към групата ни във Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2 style="color: white">За групата ни във Facebook</h2>
        <p style="color: white">В групата се обсъжда и споделя информация свързана САМО с книгите. НЕ е поредната група за запознанства и свалки. Всички странични постове ще бъдат изтривани. </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/gay.biblioteka/about/">Към групата ни във Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white">За групата ни във Facebook</h2>
        <p style="color: white">В групата се обсъжда и споделя информация свързана САМО с книгите. НЕ е поредната група за запознанства и свалки. Всички странични постове ще бъдат изтривани. </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/gay.biblioteka/about/">Към групата ни във Facebook &raquo;</a></p>
    </div>
</div>