@model IEnumerable<LgbtiLibrary.MVC.Models.Book>

@{
    ViewBag.Title = "MyIndex";
}

<h2>MyIndex</h2>


@foreach (var item in Model)
{
    <div style="float:left; text-align: center;">
        <a href="~/Files/Момичето от Дания - Дейвид Еберсхоф.pdf">
            <img src="~/imgs/198623_b.jpg" class="img-rounded" width="130" height="130" />
        </a>
        <br />
        <h1>@item.Title</h1>
    </div>

}


    <div style="clear:both"></div>
